<% var isIndex = false %>
<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%- page.title ? page.title + ' — ' : '' %>interpanda.io</title>
        <meta charset="utf-8">
        <meta name="description" content="<%- theme.site_description %>">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

        <meta property="og:type" content="article">
        <meta property="og:title" content="<%- page.title ? page.title + ' — ' : '' %>interpanda.io">
        <meta property="og:description" content="<%- theme.site_description %>">
        <meta property="og:image" content="https://<%- theme.root_domain %>/<%- url_for("/images/logo.png") %>">

        <meta name="twitter:card" content="summary">
        <meta name="twitter:title" content="<%- page.title ? page.title + ' — ' : '' %>interpanda.io">
        <meta name="twitter:description" content="<%- theme.site_description %>">
        <meta name="twitter:image" content="https://<%- theme.root_domain %>/images/icons/android-chrome-192x192.png">

	<link rel="apple-touch-icon" sizes="180x180" href="/images/icons/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/images/icons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/images/icons/favicon-16x16.png">
	<link rel="manifest" href="/images/icons/manifest.json">
	<link rel="mask-icon" href="/images/icons/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="theme-color" content="#ffffff">
        <meta name="msapplication-TileColor" content="#4fc08d">
        <meta name="theme-color" content="#4fc08d">
        <meta name="msapplication-config" content="/images/icons/browserconfig.xml">

        <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600|Roboto Mono' rel='stylesheet' type='text/css'>
        <link href='//fonts.googleapis.com/css?family=Dosis:500&text=Vue.js' rel='stylesheet' type='text/css'>

        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

        <!-- main page styles -->
        <%- css(isIndex ? 'css/index' : 'css/page') %>

        <!-- this needs to be loaded before guide's inline scripts -->
        <script src="<%- url_for("/js/vue.js") %>"></script>
        <script>window.PAGE_TYPE = "<%- page.type %>"</script>

        <!-- ga -->
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', '<%- theme.google_analytics %>', '<%- theme.root_domain %>');
          ga('send', 'pageview');
        </script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>
    <body class="<%- isIndex ? '' : 'docs' -%>">
        <div id="mobile-bar" <%- isIndex ? 'class="top"' : '' %>>
            <a class="menu-button"></a>
            <a class="logo" href="/"></a>
        </div>
        <%- partial('partials/header') %>
        <% if (!isIndex) { %>
            <div id="main" class="fix-sidebar">
                <% if (page.blog_index) { %>
                    <%- partial('partials/blog') %>
                <% } else { %>
                    <%- body %>
                <% } %>
            </div>
            <script src="<%- url_for("/js/smooth-scroll.min.js") %>"></script>
        <% } else { %>
            <%- body %>
        <% } %>

        <!-- main custom script for sidebars, version selects etc. -->
        <script src="<%- url_for("/js/css.escape.js") %>"></script>
        <script src="<%- url_for("/js/common.js") %>"></script>


        <!-- search -->
        <link href="//cdn.jsdelivr.net/docsearch.js/1/docsearch.min.css" rel='stylesheet' type='text/css'>
        <%- css('css/search') %>
        <script src="//cdn.jsdelivr.net/docsearch.js/1/docsearch.min.js"></script>
        <script>
        [
          '#search-query-nav',
          '#search-query-sidebar',
          '#search-query-menu'
        ].forEach(function (selector) {
          if (!document.querySelector(selector)) return
          // search index defaults to v2
          var match = window.location.pathname.match(/^\/(v\d+)/)
          var version = match ? match[1] : 'v2'
          docsearch({
            appId: 'BH4D9OD16A',
            apiKey: '85cc3221c9f23bfbaa4e3913dd7625ea',
            indexName: 'vuejs',
            inputSelector: selector,
            algoliaOptions: { facetFilters: ["version:" + version] }
          })
        })
        </script>

        <!-- lightbox -->
        <%- css('css/lightbox') %>
        <script src="<%- url_for("/js/lightbox.js") %>"></script>
        <!-- fastclick -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.min.js"></script>
        <script>
        document.addEventListener('DOMContentLoaded', function() {
          FastClick.attach(document.body)
        }, false)
        </script>
    </body>
<!--
                        ▄▄█▓▓▓▌▄
                      ▄▓▓▓▓▓▓▓▓▓▓▄
                      ▓▓▓▓▓▓▓▓▓▓▓▓▄
                      ▓▓▓▓▓▓▓▓▓▓▓▓▌
                     ▄▓▓▓▓▓▓▓▓▓▓▓▓
                  ▄▄▓█▀▀▓▓▓▓▓▓█▀
   ▄▄▓▓▓▓▓█▄   ▄▄▓█▀                         
  ▓▓▓▓▓▓▓▓▓▓▓▓▓▀                            
  ▓▓▓▓▓▓▓▓▓▓▓▀             ▄▓▓▓▓▓▓▌▄         
   ▓▓▓▓▓▓▓▓▓▀             ▐▓▓▓▓▓▓▓▓▓▓     
     ▀▀██▀▀                ▓▓▓▓▓▓▓▓▓▀     
               ▄▄          █▓▀▀▀▀▀          
            ▄▓▓▓▓▓█    ▄█▓▓▓               
           ▐▓▓▓▓▓▓▓▓██▓▓▓▓▓▓▌ ┬ ┌┐┌ ┌┬┐ ┌─┐ ┬─┐ ┌─┐ ┌─┐ ┌┐┌ ┌┬┐ ┌─┐             
           ▐▓▓▓▓▓▓▓     ▀▀▀   │ │││  │  ├┤  ├┬┘ ├─┘ ├─┤ │││  ││ ├─┤
             ▀▀▀▀             ┴ ┘└┘  ┴  └─┘ ┴└─ ┴   ┴ ┴ ┘└┘ ─┴┘ ┴ ┴  
-->
</html>
