<% if (page.type) { %>
    <%- partial('partials/sidebar', { type: page.type === 'menu' ? 'guide' : page.type, index: page.index }) %>
<% } else { %>
  <div class="sidebar">
    <ul class="main-menu">
      <%- partial('partials/main_menu', { context: 'sidebar' }) %>
    </ul>
  </div>
<% } %>
<div class="content <%- page.type ? page.type + ' with-sidebar' : '' %> <%- page.type === 'guide' ? page.path.replace(/.+\//, '').replace('.html', '') + '-guide' : '' %>">
    <% if (page.type) { %>
      <% if (page.type === 'menu') { %>
        <form id="search-form">
          <input type="text" id="search-query-menu" class="search-query st-default-search-input">
        </form>
        <%- partial('partials/toc', { type: 'guide' }) %>
      <% } %>
    <% } %>
    <% if (page.title && page.title.trim()) { %>
      <h1><%- page.title %><%- page.type === 'examples' ? ' Example' : '' %></h1>
    <% } %>
    <%- page.content %>
    <% if (page.type === 'guide') { %>
      <div class="guide-links">
        <% site.pages.find({ type: page.type, order: page.order - 1 }).each(function (page) { %>
          <span>← <a href="<%- url_for(page.path) %>"><%- page.title %></a></span>
        <% }) %>
        <% site.pages.find({ type: page.type, order: page.order + 1 }).each(function (page) { %>
          <span style="float:right"><a href="<%- url_for(page.path) %>"><%- page.title %></a> →</span>
        <% }) %>
      </div>
    <% } %>
    <footer id="footer" class="footer">
        &copy;2017 interpanda.io, All Rights Reserved
    </footer>
</div>
