<ul class="menu-root">
    <% var chapter = undefined %>
    
    <% type !== 'api' && site.pages.find({type: type}).sort('order').each(function (p) { %>
	<% if (chapter != p.chapter) { %>
	  <% chapter = p.chapter %>
	  <li><h3><%- chapter %></h3></li>
	<% } %>
        <li>
            <a href="<%- url_for(p.path) %>" class="sidebar-link<%- page.title === p.title ? ' current' : '' %><%- p.is_new ? ' new' : '' %>"><%- p.title %></a>
        </li>
    <% }) %>
    <% if (type === 'cookbook') { %>
        <li><h3>Components</h3></li>
        <li><h4>Form Inputs</h4></li>
        <li><h4>3rd-Party Integrations</h4></li>
        <li><h3>Transitions</h3></li>
        <li><h3>Directives</h3></li>
        <li><h3>Vue Router</h3></li>
        <li><h3>Vuex</h3></li>
    <% } %>
</ul>
